.Box {
  &--padding {
    padding: 0 2rem;
  }
  &--white {
    .Box__title {
      color: white;
    }
    .Box__figure {
      [class^="icon-"], img {
        border-color: white;
        color: white;
      }
    }
  }
  &--3 {
    flex-wrap: wrap;
    justify-content: space-between;
    .Box__item {
      width: 33%;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
.Box__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .Box__item {
    width: 18%;
  }
}
.Box__item {
  margin-bottom: 1rem;
  @media screen and (max-width: 767px) {
    display: flex;
  }
}
.Box__figure {
  [class^="icon-"], img {
    border: 2px solid rgba($borderColor, .3);
    border-radius: 50%;
    color: $thirdColor;
    display: inline-block;
  }
  [class^="icon-"] {
    font-size:  3rem;
    padding: 1rem;
  }
}
.Box__content {
  width: 100%;
}
.Box__avatar {
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
    padding: 0 .8rem;
  }
}
/* .Box__avatar {
  @media screen and (max-width: 767px) {
    width: 50%;
    + .Box__content {
      width: 50%;
    }
  }
} */
