.Breadcrumb {
  background-color: transparent;
  border-radius: 0;
  li {
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }
  }
  .active {
    font-weight: 700;
  }
  .breadcrumb-item {
    + .breadcrumb-item {
      &::before {
        margin-right: 2rem;
      }
    }
    a {
      color: $textColor;
      font-weight: 300;
      &:focus, &:hover {
        text-decoration: underline;
      }
    }
  }
}
