.Sliders {
  .Sliders__wrapper {
    justify-content: space-between;
  }
  .bx-wrapper {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    max-width: 100% !important;
    padding: 0 3rem;
    @media screen and (max-width: 991px) {
      padding: 0 0 3rem 0;
    }
    .bx-viewport {
      height: auto !important;
    }
    .bx-controls-direction {
      a {
        height: auto;
        margin-top: 0;
        text-indent: initial;
        width: auto;
      }
    }
    .bx-prev, .bx-next {
      background: none;
      color: white;
      font-size: 2.5rem;
      [class^="icon-"] {
        border: 1px solid white;
        border-radius: 50%;
        transition: border-color .2s ease-out;
      }
      &:focus, &:hover {
        color: $thirdColor;
        [class^="icon-"] {
          border-color: $thirdColor;
        }
      }
    }
    .bx-prev {
      left: 0;
    }
    .bx-next {
      right: 0;
    }
    .bx-pager {
      bottom: 0;
      position: relative;
      &.bx-default-pager {
        a {
          border-radius: 50%;
          height: 25px;
          width: 25px;
          &.active {
            background-color: #fff;
          }
        }
      }
    }
    .Sliders__wrapper {
      justify-content: normal;
    }
  }
  &--firstColor {
    .bx-wrapper {
      .bx-prev, .bx-next {
        color: $secondColor;
        [class^="icon-"] {
          border-color: $secondColor;
        }
      }
      .bx-pager {
        &.bx-default-pager {
          a {
            &.active {
              background-color: $secondColor;
            }
          }
        }
      }
    }
  }
}
.Sliders__item {
  margin-right: 15px;
  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
}
