.Tabs {
  margin: 1.5rem 0;
}
.Tabs__list {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  &--border {
    border-bottom: 2px solid $grayColor;
    .Tabs__list__item {
      flex: 1 1 auto;
      font-size: 1.375rem;
      margin-right: 0;
      padding: .5rem 2rem;
      text-align: center;
      @media screen and (max-width: 1199px) {
        padding: .5rem 1.5rem;
      }
    }
    .Tabs__list__link {
      border: none;
      border-radius: 0;
      color: $grayColor;
      font-weight: 700;
      padding: 0;
      position: relative;
      &:after {
        border-bottom: 2px solid transparent;
        bottom: -10px;
        content: "";
        display: block;
        position: absolute;
        transition: border-bottom-color .3s ease-in;
        width: 100%;
      }
      &.active, &:focus, &:hover {
        background-color: transparent;
        color: $thirdColor;
        &:after {
          border-bottom-color: $thirdColor;
        }
      }
    }
    @media screen and (max-width: 767px) {
      border-bottom: none;
    }
  }
  @media screen and (max-width: 767px) {
    margin-bottom: .8rem;
  }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    justify-content: space-around;
    margin-bottom: 0;
  }
}
.Tabs__list__item {
  margin-right: 2rem;
  text-align: center;
  &:last-child {
    margin-right: 0;
  }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    margin-bottom: .8rem;
    margin-right: 0;
  }
}
.Tabs__list__link {
  border: 1px solid $firstColor;
  border-radius: 3rem;
  color: $firstColor;
  font-weight: 400;
  padding: .5rem 2rem;
  text-transform: uppercase;
  &.active, &:focus, &:hover {
    background-color: $secondColor;
    border-color: $secondColor;
    color: white;
  }
  &--square {
    border-radius: .3rem;
    &.active, &:focus, &:hover {
      background-color: $thirdColor;
      border-color: $thirdColor;
    }
  }
  @media screen and (max-width: 991px) {
    font-size: 1rem;
  }
}
.Tabs__content {
  padding: 1rem;
  .card-header {
    @media screen and (max-width: 991px) {
      padding: .5rem .75rem;
    }
  }
}
