// Colors:
$firstColor: #1f376c; //
$secondColor: #348fce; //
$thirdColor: #e14e3f; //
$accentColor: #3a3a3a;
$darkColor: #2f2f2f; //
$borderColor: #939292;
$textColor: #252525; //
$bodyBg: #ffffff; //

$grayColor: #f6f1f0;
$grayDarkColor: #3a3a3a;

// Fonts:
$roboto: 'Roboto Slab', serif;
