// Colors:
$firstColor: #1f376c; //
$secondColor: #348fce; //
$thirdColor: #e14e3f; //
$accentColor: #c43f49;
$darkColor: #2f2f2f; //
$borderColor: #767676;
$textColor: #252525; //
$bodyBg: #ffffff; //

// Fonts:
$roboto: 'Roboto Slab', serif;
